@import "frappe.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 16px;
  min-height: 0;
  padding: 0;
}

#waybar {
  background: @surface0; 
  border-radius: 0;
  color: @text;
}

#workspaces {
  border-radius: 0px 1rem 1rem 0rem;
  margin-top: 4px;
  margin-bottom: 1px;
  background-color: @surface0;
}

#workspaces button {
  color: @white;
  border-radius: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-bottom: 0;
}

#workspaces button.active {
  color: @teal; 
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @teal;
  border-radius: 1rem;
}

#clock {
  color: @white;
  font-weight: 600; 
  font-size: 12pt;
  background-color: @surface0;
  border-radius: 0px 0px 1rem 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  
  margin: 0px 10px;
  
}

#custom-music,
#tray,
#network,
#battery,
#pulseaudio,
#custom-lock {
  background-color: @surface0;
  color: @white;
  padding: 0 1rem;
  padding-bottom: 2px;
  margin-top: 4px;
  margin-bottom: 5px;
}

#battery { 
  margin-right: 0rem;
  padding: 0px 0.6rem;
  border-radius: 0px 0rem 0rem 0px;
}

#pulseaudio {
  color: @white;
  border-radius: 1rem 0px 0px 1rem; 
}

#custom-music {
  color: @white;
  border-radius: 1rem;
}
  
#custom-network{
  color: @white;  
}

#custom-power {
    border-radius: 0 0 0 0;
    background-color: @surface0;
    color: @teal;
    font-size: 20px;
    padding: 0 4px;
    margin-top: 4px;
    margin-bottom: 5px;
}

#tray {
  margin-right: 1rem;
  border-radius: 0.7rem;
}
