@import "frappe.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 16px;
  min-height: 0;
  padding: 0;
}

#waybar {
  background: @surface0; 
  border-radius: 0;
  color: @text;
}

#workspaces { 
  margin-top: 0;
  margin-left: 2px; 
}

#workspaces button {
  color: @white;
  border-radius: 1rem;
  padding-left: 2px;
  padding-right: 2px;  
  margin-left: 0;
}

#workspaces button.active {
  color: @blue; 
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @teal;
  border-radius: 1rem;
}

#clock {
  color: @white;
  font-weight: 600; 
  font-size: 12pt;  
  margin: 0px 10px; 
}

#custom-music,
#tray,
#network,
#battery,
#pulseaudio,
#custom-lock { 
  color: @white;   
  margin-right: 10px;
  padding-right: 10px;
}


#battery {  
  padding-right: 10px;
}

#pulseaudio {
  color: @white;
  border-radius: 1rem 0px 0px 1rem; 
}

#custom-music {
  color: @white;
  border-radius: 1rem;
}
  
#custom-network{
  margin-right: 10px;
  padding-right: 10px;
  color: @white;  
}

#custom-power {
    color: @blue;
    font-size: 20px;
    padding: 0 4px; 
    margin-right: 10px; 
}

#tray {
  margin-right: 1rem;
  border-radius: 0.7rem;
}
